[Unit]
Description=Timber Buddy Control Interface
After=systemd-udevd.target

[Service]
Type=simple
ExecStart=/usr/bin/node server/index.js
WorkingDirectory=/home/{{uname}}/timberbuddy/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target