[Unit]
Description=Timber Buddy Control Interface
After=ssh.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/{{uname}}/timberbuddy/server/index.js
WorkingDirectory=/home/{{uname}}/timberbuddy/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target