#!/bin/bash

sleep 5

/bin/chromium-browser  --kiosk \
    --disable-pinch \
    --overscroll-history-navigation=0 \
    --ozone-platform=wayland \
    --start-maximized \
    --noerrdialogs \
    --disable-infobars \
    --enable-features=OverlayScrollbar \
    http://localhost:3000 &