# Raspberry Pi OS (Bookworm) config for Pi4 & Pi5
# Inspired by https://github.com/bluebyt/Wayfire-dots and CatchyOS config
# Git blame: Briain O'Dricoll https://github.com/gnmearacaun/rpios-wayfirewm-config
#───────────────────────────────────────────────────────────────

# When plugin is declared - this part of configuration should working
[autostart]
# next parameter disables wallpaper, start a panel and dock
autostart_wf_shell = false
screensaver = false
dpms = false
kiosk = /home/jsullivan2/kiosk.sh

